# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# ignore all h5 by default
*.h5

# but track this model
!model/pneumonia_mobilenetv2.h5


# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Kaggle API
kaggle.json
