# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# Model files (optional if large)
*.h5

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Kaggle API
kaggle.json
